Source: ros-jazzy-irobot-create-gz-bringup
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-cppcheck <!nocheck>, ros-jazzy-ament-cmake-cpplint <!nocheck>, ros-jazzy-ament-cmake-flake8 <!nocheck>, ros-jazzy-ament-cmake-lint-cmake <!nocheck>, ros-jazzy-ament-cmake-pep257 <!nocheck>, ros-jazzy-ament-cmake-uncrustify <!nocheck>, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ros-gz-interfaces, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-irobot-create-gz-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-geometry-msgs, ros-jazzy-gz-ros2-control, ros-jazzy-irobot-create-common-bringup, ros-jazzy-irobot-create-description, ros-jazzy-irobot-create-gz-toolbox, ros-jazzy-irobot-create-msgs, ros-jazzy-ros-gz-bridge, ros-jazzy-ros-gz-interfaces, ros-jazzy-ros-gz-sim, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: Provides launch and configuration scripts for a Ignition simulated iRobot(R) Create(R) 3 Educational Robot.
